/*#region * * * * * * * * Wild Shit */
body, html{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1;
}
h1, p, h1, h2, h3 {
  margin: 0;
  line-height: 1em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;        
}
canvas { width: 100%; height: 100% }
header { 
  position: relative; 
  text-transform: uppercase;
  padding: 4px;
  color: #888;
  background: #292929;
  border: 1px solid #303030;
}

:focus {outline:0;}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0003; }
::-webkit-scrollbar-thumb { background: #8883; }
::-webkit-scrollbar-thumb:hover { background: #9994; }
::-webkit-scrollbar-corner { background: #111; }

/*#endregion */
/*#region * * * * * * * * MAIN SHIT */

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: row;
}
.left-pane {

}
.middle-pane {
  flex-grow: 1;
  width: 100%; 
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.bar-horizontal {
  background: #181818;
  width: 100%; 
  flex: 0 0 100px;
  height: 120px;
  bottom: 0;
  /* position: absolute; */
}
.toolbar-vertical {
  flex: 0 0 48px;
  height: 100%;
}

/*#endregion */
/*#region * * * * * * * * ANIMANI-BAR */

#animation-bar {
  display: flex;
  flex-direction: column;
}
#animation-bar #slider {
  margin: 20px;
}
#animation-bar .buttons-bar {
  width: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #0003;
}
#animation-bar .buttons-bar button {
  border: 1px solid #FFF2;
  background: #FFF1;
  color: #FFF9;
  /* height: 100%; */
  cursor: pointer;
  padding: 12px;
  font-size: 20px;
  font-weight: bolder;
  margin: 1px;
  display: list-item;
}
#animation-bar .buttons-bar button:hover {
  background: #FFF2;
  color: #FFFE;
  /* color: #29F; */
}

/*#endregion */
/*#region * * * * * * * * DRAG-OVERs */

*.dragover { z-index: 99; }
.dragover header { color: #008cff !important; }
.dragover .contents::after { 
  color: #008cff !important; 
  background: #008cff0F !important; 
  background: #0c426eda !important; 
  padding: 16px; 
  text-align: center;
  justify-content: center;
  border: 2px solid #008cff;
  /* outline: 1px dashed #008cff; */
  /* outline-offset: -6px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  user-select: none;
  touch-action: none;
  pointer-events: none;
  z-index: 999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;      
}
#subpanel-nodes.dragover .contents::after { content: "Replace character with model from .FBX file" }
#subpanel-props.dragover .contents::after { content: "Add new prop model from .FBX file" }
#subpanel-anims.dragover .contents::after { content: "Add character animation(s) from .FBX file" }
#viewport.dragover .contents::after { 
  content: "Open new .GLTF or .GLB character scene";  
  pointer-events: none;
  align-items: center;
}
.dragover .contents tree ul {
  /* pointer-events: none !important;
  visibility: hidden !important; */
}


/*#endregion */
/*#region * * * * * * * * BONES LIST */

#bones-list {
  width: 202px;
  height: 100vh;
  background: #111;
  position: fixed;
  top: 0;
  right: 48px;
  overflow-y: auto;
}
#bones-list h3 {
  text-transform: uppercase;
  margin: .5em 0;
  color: #FFFB;
}
#bones-list button {
  width: 100%;
  border: none;
  background: none;
  color: #FFFB;
  font-weight: bold;
  text-align: left;
  padding: 4px;
  cursor: pointer;
}
#bones-list button:hover {
  color: white;
  background: #FFF1;
}
#bones-list button.off {
  text-decoration: line-through;
  opacity: .7;
}

/*#endregion */
/*#region * * * * * * * OTHER SHIT */

#viewport {
  flex-grow: 1;
  width: 100%; 
  height: 100%;
  position: relative;
  overflow: hidden;
}
#viewport .contents {
  position: relative;
  height: 100%;
}

[id^="panel"] {
  background: #222;
  color:#bbb;
}
#panel-navigation {
  min-width: 300px;
  max-width: 25vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.subpanel {
  display: flex;
  flex-direction: column;
}
.subpanel .contents {
  min-height: 100px;
  position: relative;
  display: block;
  flex-grow: 1;
}
#subpanel-anims {
  flex-grow: 1;
}












#subpanel-properties input {
  width: 296px;
  flex: 1 1 0px;
  color: gold;
  background: #FFF2;
  border: 1px solid #FFF3;
  font-weight: bold;
  margin: 2px;
  padding: 4px;

  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

#subpanel-properties input:focus,
#subpanel-properties .linked:focus-within input {
  border: 1px solid orange;
  outline:none;
}

#subpanel-properties .i-vector-row input { 
  width: 50px; 
}
#subpanel-properties .i-vector-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}














#panel-toolbar separator {
  position: relative;
  display: block;
  height: 2px;
  width: 2px;
}
#panel-toolbar button {
  width: 100%;
  font-size: 28px;
  height: 48px;
  background: #444;
  color: #CCC;
  border: 1px solid #555;
  margin: 1px;
  cursor: pointer;
}
#panel-toolbar button:hover {
  background: #555;
  border: 1px solid #666;
}






#panel-navigation .jstree [hidden] a input {
  /* opacity: .3; */
  text-decoration: line-through;
  color: #FFF6 !important;
}
#panel-navigation .jstree [missing] a input {
  /* opacity: .3; */
  text-decoration: line-through;
  color: #F006 !important;
}
#panel-navigation .jstree-default .jstree-node {
  margin-left: 8px;
}
#panel-navigation .jstree input {
  border: none;
  background: none;
  color: white;
  font-weight: bolder;
  width: 100%;
  touch-action: none;
  pointer-events: none;
  user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
}
#panel-navigation .jstree input[disabled] {
  color: #FFFA;
  font-weight: 100;
}



.context-menu-list { 
  background: #222;
  border-color:#0008;
  border-radius: unset;
  padding: 0;
}
.context-menu-item::before,
.context-menu-item { 
  background: unset;
  color: #FFFC;
} 
.context-menu-separator {
  border-color: #666
}
.context-menu-icon-link:before{ content:"\1F517\FE0E" }
.context-menu-icon-eye:before{ content:"👁\FE0E" }
.context-menu-icon-end-left:before{ content:"⇤\FE0E" }
.context-menu-icon-end-right:before{ content:"⇥\FE0E" }




loading {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #112D;
  color: gold;
  font-size: 72px;
  user-select: none;
  touch-action: none;
  pointer-events: none;
  text-transform: uppercase;
}
/*#endregion */