body, html{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1;
}
h1, p, h1, h2, h3 {
  margin: 0;
  line-height: 1em;
}
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: row;
  color: gold;
}
canvas { width: 100%; height: 100% }
header { 
  position: relative; 
  text-transform: uppercase;
  padding: 4px;
  color: #888;
  background: #292929;
  border: 1px solid #303030;
}

button:focus {outline:0;}
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0003; }
::-webkit-scrollbar-thumb { background: #8883; }
::-webkit-scrollbar-thumb:hover { background: #9994; }

*.dragover {
  z-index: 99;
}

#subpanel-nodes.dragover .contents::after { content: "Replace character with model from .FBX file" }
#subpanel-props.dragover .contents::after { content: "Add new prop model from .FBX file" }
#subpanel-animations.dragover .contents::after { content: "Add character animation(s) from .FBX file" }
.dragover header { 
  color: #008cff !important; 
}
.dragover .contents::after { 
  color: #008cff !important; 
  background: #008cff0F !important; 
  padding: 16px; 
  text-align: center;
  justify-content: center;
  border: 2px solid #008cff;
  /* outline: 1px dashed #008cff; */
  /* outline-offset: -6px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  user-select: none;
}

#viewport {
  flex-grow: 1;
  width: 100%; 
  height: 100%;
  position: relative;
}
#viewport.dragover .contents::after { 
  content: "Open new .GLTF or .GLB character scene";
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  pointer-events: none;
  align-items: center;
}

[id^="panel"] {
  background: #222;
  color:#bbb;
}
#panel-navigation {
  min-width: 300px;
  max-width: 25vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.subpanel {
  display: flex;
  flex-direction: column;
}
.subpanel .contents {
  min-height: 100px;
  position: relative;
  display: block;
  flex-grow: 1;
}
#subpanel-animations {
  flex-grow: 1;
}


#panel-toolbar {
  width: 64px;
}
#panel-toolbar button {
  width: 100%;
  font-size: 28px;
  height: 48px;
  background: #444;
  color: #CCC;
  border: 1px solid #555;
  margin: 1px;
  cursor: pointer;
}
#panel-toolbar button:hover {
  background: #555;
  border: 1px solid #666;
}
