body, html{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1;
}
h1, p, h1, h2, h3 {
  margin: 0;
  line-height: 1em;
}
div {
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: row;
  color: gold;
}
canvas { width: 100%; height: 100% }

h3 {
  text-transform: uppercase;
  padding: 4px;
  color: #888;
  background: #292929;
  border: 1px solid #303030;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0003; }
::-webkit-scrollbar-thumb { background: #8883; }
::-webkit-scrollbar-thumb:hover { background: #9994; }

[id^="panel"] {
  background: #222;
  color:#bbb;
}
#panel-navigation {
  min-width: 300px;
  max-width: 25vw;
  overflow: auto;
}
#panel-toolbar {
  width: 64px;
}
#viewport {
  flex-grow: 1;
  width: 100%; 
  height: 100%;
}
#node-tree .jstree-default .jstree-clicked {
  background: #bd6c03;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999;
}
#node-tree .jstree-default .jstree-hovered {
  background: #033e57;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999;
}